body, html {
  height: 100%;
  width: 100%;
}

.navigation {
  z-index: 1;
  list-style: none;
  position: fixed;
  width: 100%;
  background-color: lightgray;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  color: #406bac;
  display: block;
  padding: 1em; 
  text-decoration: none;
}

.navigation a:hover {
  background: white;
}

#middlesection {
  padding-top:20px;
}

.active {
  background: white;
  border-top: thick solid #406bac;
}

body {
  background-color: #306bac;
  margin: 0 0;
}

.fa:hover {
    color: black;
}

#section-heading {
  font-size: 26px;
  font-weight: 200;
  margin-top: 40px;
  padding: 40px;
  text-align: center;
  letter-spacing: 8px;
  opacity: 10;
}

.blue {
  color: #306BAC;
}

.white {
  color: white;
}

#projects div:hover {
  background-color: #306bac;
  opacity: 0.9;
  box-shadow: 4px 2px 4px;
}

#projects div:hover a{
  color: white;
}


#projects div:hover p{
  color: white;
}

#middlesection {
  background-color: white;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
   
a, a:hover, a:active, a:visited {
    text-decoration:none !important;
}

.fa {
  color: white;
}

.fa:hover {
    color: black;
}

#landing{
  height: 100%;
  width: 100%;
  margin-bottom:200px;
  background-color: #306bac;
}

#landing-text {
  color: #f7f7f7;
  position: relative;
  top: 20%;
  box-sizing: border-box;
  width: 40%;
  padding: 30px;
  margin-left: 10px;
  border-top: none;
  border-bottom: #F7F7F7 solid 5px;
  border-radius: 2px;
  text-align: left;
  font-size: 66px;
}

#icons {
  position: relative;
  top: 60%;
  padding: 30px 30px 30px 0;
  margin:30px 30px 30px 0;
}

#name #title {
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
}

#name {
    font-weight: 400;
    letter-spacing: 5px;
}

#title {
    font-size: 22px;
    font-weight: 200;
    display: block;
}

#contain {
  position: absolute;
}

#bio {
  height:auto;
  text-align:center;
  padding: 30px, 0px, 0px, 50px; 
  margin: 15px, 0px, 30px, 15px;
}

#project-container {
  margin-top: 300px;
}

#bio-text {
  font-align:center;
  font-size: 22px;
  margin-top: 0px;
  margin-right: 20%;
  margin-bottom: 50px;
  margin-left: 20%;
  padding-bottom:10px;
}

#projects {
  text-align: center;
  width: 90%;
  border-top: #306bac solid 2px;
  height: auto;
  margin: 18px auto 0;
  }

#projchat {
  font-size: 18px;
  margin: 10px auto 0;
  padding:10px 50px 15px 50px;
}

.projbox {
  width: 80%;
  border: #306bac solid 1px;
  height: auto;
  border-radius:10px;
  margin: 44px auto 0;
  padding-top:30px;
  padding-bottom: 20px;
}

.projbox a, p {
  color: #406bac;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2, h3 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#bottomsection {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 10px;
  margin: auto 0;
  width: 72%;
  height: 100%;
  }
 
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding-left: 30%;
  margin: auto 0;
}

#message-input {
  line-height: 100px;
}

input[type=submit] {
  margin-top:30px;
  margin-bottom: 30px;
}

label {
  color: #406bac;
  text-align: center;
  width: 100%;
}

input[type=text], input[type=submit] {
    padding: 5px;
    width: 100%;
    border: 2px solid #406bac;
    border-radius: 5px;
    background: white;
    color: #406bac;
}

input[type=submit]:hover {
  background: #406bac;
  color: white;
}

@media screen and (max-width: 1020px) {
  #landing {
    transform: translateY(25%);
  }

  #icons {
    font-size: 36px;
  }

  .navigation {
    justify-content: space-around;
    position: absolute;
  }

  .navigation a {
    padding: 0;
  }

  .container-fluid, body, html {
    height: 600px;
    float: none;
    width: auto;
  }

  img {
  width: 75%;
  }
 
  #bio-text {
    font-size: 20px;
    margin: 5px;
  }
  
  #projchat {
    color: #406bac;
    padding: 5px;
  }

  .projbox {
  width: 95%;
  margin: 10px auto 0;
  border: #306bac solid 1px;
  height: auto;
  border-radius:10px;
  padding-top:30px;
  padding-bottom: 20px;
  }
  
  #landing-text {
    transform: translateY(-25%);
    width: 75%;
  }

    #name {
    font-size: 20px;
    }
    #title {
    font-size: 20px;
  }
}
 
